<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Hello and welcome to my creative corner!</h1>
    <h1>I'm  <strong>Yasmin Soraya</strong> an <strong>illustrator </strong>passionate about bringing stories to life through art.</h1>
    <p>Here, you'll find a collection of my heartfelt creations. Thank you for being a part of this artistic journey. Your presence truly means the world. Enjoy the exploration, and feel free to linger amidst the strokes and hues that make up my artistic expression.</p>
    <a class="btn btn-flat" href="/contact">Let's get in touch!</a>
  </div>
</div>
