.navbar {
  display: flex;
  background: $colorhunt-white;
  justify-content: center;
}

.navbar-paths {
  display: flex;
    a {
      padding-left: 30px;
      padding-right: 30px;
      text-decoration: none;
      color: $colorhunt-blue;

      &:hover{
        color: $colorhunt-brown;
      }
    }
}
